/* COLOR REFERENCES

Blue Gray:  #3e4249

Logo colors:
Gray: 		#434244
Blue: 		#526CB1
*/

/* ==== GENERAL ==== */

body {
	font-family: 'proxima-nova', 'Raleway', Helvetica, sans-serif;
	font-size: 16px;
}

/* ==== GLOBAL ==== */

h1,h2,h3,h4,h5,h6 {
	-webkit-font-smoothing: antialiased;
	font-weight: bold;
}

h1 {
	font-size: 3em;
}

h3 {
	margin: 20px 0;
}

h4 {
	font-size: 18px;
}

p.lead {
	font-weight: normal;
}

p {
	margin: 0 0 15px;
}

img {
	max-width: 100%;
}

/* ==== NAV ==== */

.navbar {
	background: -webkit-linear-gradient(#ffffff 0%, #fbfbfb 100%);
	padding: 1rem 3rem !important;
}

a.navbar-brand {
	margin-right: 20px;
}

#nav-header {
	text-decoration: none;
}
/* ==== FORMS ==== */

label {
	display: block;
	font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	display: block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 6px 12px;
}

input[type="submit"],
button[type="submit"] {
	display: inline-block;
	margin-bottom: 0;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.33;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: none;
	border-radius: 6px;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
	outline: none;
	border: none;
	background: #aaa;
}

form.search-form .form-group {
	margin: 0;
}

form.search-form .input-group {
	width: 100%;
}

form.search-form .input-group input[type="search"],
form.search-form .input-group input[type="text"] {
	width: 70%;
}

form.search-form .input-group input[type="submit"] {
	width: 30%;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	float: right;
}

form textarea {
	width: 100%;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

/* ==== HERO ==== */

#hero {
	background: url(../img/stuff-feature.jpg) 50% 0 repeat fixed;
	min-height: 400px;
	position: relative;
	width: 100%;
	padding: 40px 0;
	color: white;
	-webkit-font-smoothing: antialiased;
}

#hero .hero-text {
	margin-top: 75px;
}


/* ==== LAYOUT ==== */

.row + .row {
	margin-top: 20px;
}

section {
	padding: 40px 100px;
}

.section-header {
	text-align: center;
}

section h2 {
	margin: 20px 0 40px;
}

section h3 {
	margin: 30px 0 10px;
}

section.main-content {
	padding: 40px 0;
}

.feature-image {	
	display: table;
	width: 100%;
}

.feature-image-default {
	background: url(../img/stuff-feature.jpg) no-repeat;
	background-size: cover;
}

.feature-image-default-alt {
	background: url(../img/hipster-stuff.jpg) no-repeat;
	background-size: cover;
}

.feature-image h1 {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: white;
}

#build {
	text-align: center;
	
}

#build .fas {
	font-size: 75px;
	margin-top: 10px;
	color: #50b7ff;
}
#features {
	text-align: center;
}

#skills {
	text-align: center;
	background: url(../img/roadway.jpg) center center repeat fixed;
	background-position: 0% 50%;
	color: white;
}

#skills .fab {
	font-size: 75px;
	margin: 10px;
	color: white;
}

#signup {
	text-align: center;
	background: url(../img/mountain-circle.jpg) center center repeat fixed !important;
	background-position: 100% 50%;
	padding: 140px 0px;
	color: white;
}

#signup h2, #formspree {
	font-weight: normal;
}

#signup .btn, #formspree {
	font-size: 24px;
}

#formspree input, textarea {
	margin: 10px;
}

/* ==== MEDIA QUERIES ==== */

@media screen and (max-width : 991px) {
	
}

@media screen and (max-width : 782px) {
	.logo {
		width: 50%;
	}
	
	.navbar .navbar-collapse {
        text-align: center;
    }
    
    #signup {
		margin: 0 0 10px;
	}
	
	.container {
		text-align: center;
	}
	
}

@media screen and (max-width : 590px) {
	
	.btn-group {
	   	display: block !important;
		width: auto !important;
		}
		
	div .row {
		text-align: center;
	}
	
	

}