/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

#root {
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.logo {
  height: 3rem;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.card {
  padding: 2em;
}
